// Font Var
$primary-font: 'Roboto', Helvetica, Arial, sans-serif;
$secondaFont: 'Open Sans', Arial, Helvetica, sans-serif;
$fontThin: 100;
$fontLight: 300;
$fontNormal: 400;
$fontMedium: 500;
$fontBold: 700;
// Colors Var
$grad1: #3e4fb2;
$grad2: #ad7a99;
$primaryColor: #EEE;
$darkColor: #424242;
$errorColor: #cc0000;
$ticketColor: #fff;