/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,body,div,span, applet, object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym, address, big, cite, code, del, dfn, em, img,
ins,kbd,q,s,samp,small,strike,strong, sub,sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time,
mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote {
    &:before,
    &:after {
        content: '';
        content: none;
    }
}

q {
    &:before,
    &:after {
        content: '';
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus,
textarea,
input,
button {
    outline: none;
}

/* Start here */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import 'styles/_variables';

html {
    font-size: calc(.7em + 1vw); }

    @-webkit-keyframes autofill {
        to {
            color: $primaryColor;
            background: transparent;
        }
    }
    
    input:-webkit-autofill {
        -webkit-animation-name: autofill;
        -webkit-animation-fill-mode: both;
    }

body {
    width: 100vw;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    color: $darkColor;
    font-family: $primary-font;
    background: linear-gradient(135deg, $grad1 0%, $grad2 100%) no-repeat; }

input {
    width: 100%;
    border: none;
    font-size: 1.3rem;
    line-height: 1rem;
    color: $primaryColor;
    font-weight: $fontNormal;
    background-color: transparent;
    border-bottom: 1px solid transparentize($primaryColor, .7);
    border-radius: 0; }

.wrap {
    width: 100%;
    max-width: 640px;
    height: 100%;
    display: flex;
    margin: 2rem 0;
    color: $primaryColor;
    flex-direction: column; }

    .btn {
        cursor: pointer;
        text-align: center;
        line-height: 2rem;  
        font-weight: $fontLight;   
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        user-select: none;
    }

    .btn.btn-active {

        &:active {
            color: $grad1;
            font-weight: $fontBold;
            background-color: $primaryColor;
            box-shadow: 0px 0px 5px 0px $darkColor; }
    }
    