<form action="">
  <div class="location">

    <div class="station">

        <label for="from">From</label>
        <app-search-station [location]="fromLocation"></app-search-station>
    </div>

    <div class="switch" (click)="switchLocation()">&#8644;</div>

    <div class="station">

        <label class="right-align" for="to">To</label>

        <app-search-station class="right-align" [location]="toLocation"></app-search-station>
    </div>

  </div>

  <div class="select-date">
    <label class="btn " (click)="selectedDate()" >
        <input type="radio" id="today" name="date-group" checked>
        <span>Today</span>
    </label>
    <label class="btn " (click)="selectedDate(1)" >
        <input type="radio" id="tomorrow" name="date-group" >
        <span>Tomorrow</span>
    </label>
    <label class="btn active" for="dates">
        <input type="checkbox" id="dates">
        <span>Date</span>

        <ul>

          <li *ngFor="let day of datesForWeek" class="day">

            <label [attr.for]="day.identifier" 
                  (click)="selectedDate(day.index)">
              <input type="radio" [attr.id]="day.identifier" name="date-group" >
              <p><span>{{day.dayOfWeek}}</span><span>{{day.dayOfMonth}}</span></p>
            </label> 

          </li>

        </ul>
    </label>
    
  </div>

  <div class="select-time" >
      <div class="scroller" appTimeSelectScroll [(timeModel)]="hours">
          <ul class="hours" >
              <li class="none">&nbsp;</li>
              <li *ngFor="let dump of ' '.repeat(24).split(''); let i = index">{{i | leadingZero:10}}</li>
              <li class="none">&nbsp;</li>
          </ul>
      </div>
      <span>:</span>
        <div class="scroller" appTimeSelectScroll [(timeModel)]="minutes">
          <ul class="minutes">
              <li class="none">&nbsp;</li>
              <li *ngFor="let dump of ' '.repeat(60).split(''); let i = index">{{i | leadingZero:10}}</li>
              <li class=" none" >&nbsp;</li>
          </ul>
      </div>
  </div>
  <div class="submit">
    <button class="btn btn-active" type="submit">Find train</button>
  </div>
</form>